.DS_store
bin
*.BAK
*.class
/Semester-4/Java/dbconnection/target/
/Semester-4/Java/Unit-1/createTable/nbproject/private/
/Semester-4/Java/Unit-1/createTable/build/
/Semester-4/Java/Unit-1/insertDataIntoTable/nbproject/private/
/Semester-4/Java/Unit-1/insertDataIntoTable/build/
/Semester-4/Java/Unit-1/deleteRecordFromTable/nbproject/private/
/Semester-4/Java/Unit-1/deleteRecordFromTable/build/
/Semester-4/Java/Unit-1/createTableUsingPreparedStatement/nbproject/private/
/Semester-4/Java/Unit-1/createTableUsingPreparedStatement/build/
