.DS_store
bin
*.BAK
*.class
/Semester-4/Java/dbconnection/target/
/Semester-4/Java/Unit-1/createTable/nbproject/private/
/Semester-4/Java/Unit-1/createTable/build/
/Semester-4/Java/Unit-1/insertDataIntoTable/nbproject/private/
/Semester-4/Java/Unit-1/insertDataIntoTable/build/
/Semester-4/Java/Unit-1/deleteRecordFromTable/nbproject/private/
/Semester-4/Java/Unit-1/deleteRecordFromTable/build/
/Semester-4/Java/Unit-1/createTableUsingPreparedStatement/nbproject/private/
/Semester-4/Java/Unit-1/createTableUsingPreparedStatement/build/
/Semester-4/Java/Unit-1/updateRecordUsingPreparedStatement/nbproject/private/
/Semester-4/Java/Unit-1/updateRecordUsingPreparedStatement/build/
/Semester-4/Java/Unit-1/Get Data From Table/nbproject/private/
/Semester-4/Java/Unit-1/Get Data From Table/build/
/Semester-4/Java/Assignment-1/Create Table/nbproject/private/
/Semester-4/Java/Assignment-1/Create Table/build/
/Semester-4/Java/Assignment-1/Insert Data Into Student Table/nbproject/private/
/Semester-4/Java/Assignment-1/StudentMangementTool/nbproject/private/
/Semester-4/Java/Assignment-1/StudentMangementTool/build/
__pycache__
/Semester-4/Java/Unit-2/Unit2/nbproject/private/
/Semester-4/Java/Unit-1/ResultSetMetadata/nbproject/private/
/Semester-4/Java/Unit-2/Unit2/build/
*.form
/Semester-4/Java/Assignment-2/Assignment2/nbproject/private/
/Semester-4/Java/Assignment-2/Assignment2/build/
.venv
/Semester-4/Java/Unit-3/nbproject/private/
/Semester-4/Java/Unit-3/build/
/Semester-4/Java/WebApplication1/nbproject/private/
/Semester-4/Java/WebApplication1/build/
/Semester-4/Java/WebApplication2/nbproject/private/
/Semester-4/Java/WebApplication2/build/
.idea
